<html>
    <head>
        
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h1><%= @team.name %></h1>

                    <div class="well">
                        
                        <% if Scoresheet.where("team = ?", params[:id]).exists? %>
                            <h2>Appetizer Scores</h2>
                            <h4>Appetizer Serving Methods and Presentation:</h4>
                            <%= app_serve_score = Scoresheet.where(team: params[:id]).average(:app_serve_method) %>
                            <h4>Appetizer Portion Size and Nutritional Balance:</h4>
                            <%= app_portion_score = Scoresheet.where(team: params[:id]).average(:app_portion_nutrition) %>
                            <h4>Appetizer Creativity, Menu and Ingredient Compatibility:</h4>
                            <%= app_creativity_score = Scoresheet.where(team: params[:id]).average(:app_creativity_compatibility) %>
                            <h4>Appetizer Flavor, Taste, Texture, and Doneness:</h4>
                            <%= app_flavor_score = Scoresheet.where(team: params[:id]).average(:app_flavor_texture_doneness) %>
                            
                            <h2>Entree Scores</h2>
                            <h4>Entree Serving Methods and Presentation:</h4>
                            <%= entree_serve_score = Scoresheet.where(team: params[:id]).average(:entree_serve_method) %>
                            <h4>Entree Portion Size and Nutritional Balance:</h4>
                            <%= entree_portion_score = Scoresheet.where(team: params[:id]).average(:entree_portion_nutrition) %>
                            <h4>Entree Creativity, Menu and Ingredient Cmompatibility:</h4>
                            <%= entree_creativity_score = Scoresheet.where(team: params[:id]).average(:entree_creativity_compatibility) %>
                            <h4>Entree Flavor, Taste, Texture, and Doneness:</h4>
                            <%= entree_flavor_score = Scoresheet.where(team: params[:id]).average(:entree_flavor_texture_doneness) %>
                            <h2>Total Score</h2>
                                <%= team_score(@team).to_s %>
                        <% else %>
                            <h3>There's nothing to see here yet!</h3>
                        <% end %>
                        
                        <h3><%= link_to "Back to Competition", competition_path(@competition, @scoresheet) %></h3>
                        <h3><%= link_to "See Scoresheets", competition_scoresheets_path(@competition, @scoresheet) %></h3>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>